<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
    background-color: #dddddd;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
</style>
</head>
<body>


<h2>HTML Table</h2>

<table>
  <tr>
    <th>
        Personal Loan Details</th>
    <th></th>
   
  </tr>
  <tr>
    <td>Interest Rate</td>
    <td>7.90% p.a. onwards</td>
  
  </tr>
  <tr>
    <td>Loan Amount</td>
    <td>Up to Rs.40 lakh</td>

  </tr>
  <tr>
    <td>Loan Tenure</td>
    <td>Up to 7 years</td>

  </tr>
  <tr>
    <td>Processing Fee</td>
    <td>0% - 6% of the loan amount + GST</td>
 
  </tr>
</table>

</body>
</html>

